/* ========== import font start ========== */
@font-face {
	font-family: "game over";
	src: url("/font/gameovercre1.ttf");
}
@font-face {
	font-family: "Press Start 2P";
	src: url("/font/PressStart2P-Regular.ttf");
}
@font-face {
	font-family: "VT323";
	src: url("/font/VT323-Regular.ttf");
}
/* ========== import font end ========== */
.mt-5{margin-top: 40px;}
.mt-8{margin-top: 64px;}
.mt-10{margin-top: 80px;}
.ml-2{margin-left: 16px;}
.ml-3{margin-left: 24px;}
.mr-2{margin-right: 16px;}
.mr-3{margin-right: 24px;}
.pt-5{padding-top: 40px;}
.pt-10{padding-top: 80px;}
.pb-5{padding-bottom: 40px;}
/* ========== variables start ========== */
:root{
	--bg-gray1: #f7f7f7;
	--bg-gray2: #dfdfdf;
	--text-gray: rgb(83,83,83);
	--white: #fdfdfd;}
/* ========== variables end ========== */

/* ========== structure start ========== */
.vh-100{
	min-height: 100vh;
	width: 100vw;
	overflow:hidden;
}
.d-flex{display: flex;}
.align-items-center{align-items: center;}
.justify-content-center{justify-content: center;}
.text-center{text-align: center;}
.overflow-hidden{overflow: hidden;}
/* ========== structure end ========== */

/* ========== color start ========== */
.bg-1{background-color: var(--bg-gray1);}
.bg-2{background-color: var(--bg-gray2);}
.bg-3{background-color: var(--white);}
.text-gray{color:var(--text-gray);}
/* ========== color end ========== */

/* ========== main setting ========== */
html{
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}
body{
	text-align: center;
	color:var(--text-gray);
}
h1{
	font-family: "Press Start 2P";
	font-size: 80px;
}
h2{
	font-family: "game over";
	font-size: 56px;
}
h3{
	font-family: "VT323";
	font-size: 32px;
}
p{
	font-family: "VT323";
	font-size: 24px;
}
/* ========== main setting  ========== */

/* ========== header start ========== */
.header{
	position: relative;
}
.stage{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#dino{
	width: 100%;
	height: 100%;
}
#dino:hover{
	cursor: pointer;
}

.h1-left{
	position: absolute;
    top: 43%;
    left: 36%;
    transform: translate(-50%,-50%);
}
.h1-right{
	position: absolute;
    top: 43%;
	left: 64%;
    transform: translate(-50%,-50%);
}
.h2-left{
	position: absolute;
    top: 57%;
    left: 32.5%;
    transform: translate(-50%,-50%);
}
.h2-right{
	position: absolute;
    top: 57%;
    left: 65.5%;
    transform: translate(-50%,-50%);
}
.header h2{
	padding-top: 8px;
	font-size: 80px;
}
@media(max-width:768px){
	.stage{
		top: 48%;
	}
	.h1-left{
		top: 50%;
		left: 28%;
	}
	.h1-right{
		top: 50%;
		left: 72%;
	}
	.header h2{
		font-size: 56px;
	}
	.h2-left{
		left: 30%;
	}
	.h2-right{
		left: 68%;
	}
}
@media(max-width:767px) and (min-width:569px){	
}
@media(max-width:568px){
	h1{
		font-size: 48px;
	}
	.stage{
		top: 46%;
		left: 51.5%;
	}
	.h1-left{
		left: 20%;
	}
	.h1-right{
		left: 80%;
	}
	.header h2{
		font-size: 32px;
	}
	.h2-left{
		left: 24%;
	}
	.h2-right{
		left: 77%;
	}
}
/* ========== header end ========== */

/* ========== about start ========== */
.about_card{
	width: 200px;
	height: 300px;
	border-radius: 10px;
}
.about .img_box{
	width: 120px;
	height: 160px;
	border:2px solid black;
	background-size: 120px 160px;
	background-repeat: no-repeat;
	margin: 30px auto 20px auto;
}
.about .img_box img{
	width: 80px;
	height: 80px;
}
.about .img_box img:hover{
	transform: scale(1.3);
}
/* ========== about end ========== */

/* ========== skill start ========== */
.swiper-container {
	width: 480px;
	height: 40px;
}

.swiper-slide {
	width: 25px;
	/* height: 40px; */
	text-align: center;
	font-size: 18px;
	background: #fff;
	border-radius: 5px;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	filter: grayscale(100%) blur(0.5px);
	width: 25px;
	height: 25px;
	object-fit: cover;
}
.swiper-wrapper {
	-webkit-transition-timing-function:linear!important; 
	-o-transition-timing-function:linear!important;
	transition-timing-function:linear!important; 
}
/* ========== skill end ========== */

/* ========== work start ========== */
.card_container{
	
	height: 300px;
}
.work_card{
	width: 200px;
	height: 200px;
	border-radius: 5px;
	position: relative;
}
.work .work_card:hover{
	height: 240px;
}
.work h3{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: var(--bg-gray2);
}
.work .work_card .img_box2{
	position: relative;
	width: 160px;
	height: 160px;
	margin: 16px auto 16px auto;
	border: 1px solid black;
}
.work .work_card .img_box2 img{
	width: 80px;
	height: 80px;
	margin: 24px auto 16px auto;
	position: relative;
}
.work .work_card .content_box{
	margin: 0 auto;
	text-align: center;
	position: relative;
	width: 160px;
	text-align: center;
	visibility: hidden;
	opacity: 0;
}
.work .work_card:hover .content_box{
	visibility: visible;
	opacity: 1;
}
.work .work_card p{
	
	font-size: 16px;
}
/* ========== work end ========== */

/* ========== contact start ========== */
.contact{
	text-align: center; 
	height:100vh;
	background-color: #f7f7f7;
	overflow: hidden;
}

.contact h1{
	font-family: "game over";
	color: rgb(83,83,83);
	font-size: 56px;
	padding-top: 80px;
	padding-bottom: 48px;
	display: block;
}

.contact .list{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 64px;
}
.contact .list li{
	padding: 8px 8px;
	display: block;
}
.contact .list a img{
	height: 16px;
	width: 16px;
}
.contact .text_show{
	background-color: var(--bg-gray2);
	display: none;
}
.contact .text_show h3{
	text-decoration: underline;
	font-size: 48px;
}

/* ========== contact end ========== */



/* ========== scroll bar start ========== */
::-webkit-scrollbar{
	width: 0;
}
#progress_bar{
	z-index: 3;
	position: fixed;
	right: 0;
	width: 8px;
	height: 100%;
	background: rgb(177, 177, 177);
}
#progress_bar:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#progress_bar:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* ========== scroll bar end ========== */

/* ========== hover button start ========== */
#bird{
	z-index: 10; 
	position: fixed; 
	right: 24px; 
	bottom: 24px;
	height: 60px;
	width: 60px;
}
#bird_click{
	z-index: 10;
	position: fixed;
	right: 32px; 
	bottom: 80px;
	display: none;
}
#bird:hover{
	cursor: pointer;
}
/* ========== hover button end ========== */

/* ========== hover button end ========== */
.menu-btn{
	z-index: 1000;
	position: fixed;
	left: 24px;
	top: 24px;
	cursor: pointer;
}

.menu{
	z-index: 999;
	position: fixed;
	left: 16px;
	top: 16px;
	background-color: #fff;
	font-family: "VT323";
	font-size: 32px;
	padding-top: 32px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	border-radius: 8px;
	border: 1px solid black;
	display: none;
}
.menu a{
	display: block;
	color: var(--text-gray);
	text-decoration: none;
}

.menu a.active{
	color: black;
	font-weight: bold;
}

/* ========== hover button end ========== */
#dino_loading{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#loading{
	z-index: 9999;
    background: var(--bg-gray1);
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
}
.playing{
	display: block;
}
.finished{
	display: none;
}
#loading_text{
	position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}